sourceDir = "{{ .chezmoi.sourceDir }}"

{{- $isWork := promptBool "Is this a work machine? (y/n)" }}

[data]
  is_work = {{ $isWork }}
{{- if $isWork }}
  name = {{ promptString "Full name" | quote }}
  email = {{ promptString "Work email" | quote }}
  github_user = {{ promptString "GitHub username" | quote }}
{{- else }}
  name = "Victorino Lavida"
  email = "victorino.lavida@gmail.com"
  github_user = "Victorinolavida"
{{- end }}
